:root {
    --darkreader-background-ffffff: #181a1b;
    --darkreader-text-000000: #e8e6e3;
    --darkreader-border-4c4c4c: #736b5e;
    --darkreader-text-111827: #d6d3cd;
    --darkreader-text-f3f4f6: #e1dfdb;
    --darkreader-background-030712: #02060e;
    --darkreader-background-10b9811a: rgba(13, 148, 103, 0.1);
    --darkreader-background-002c224d: rgba(0, 35, 27, 0.3);
    --darkreader-text-34d399: #47d7a3;
    --darkreader-text-0040ff: #3391ff;
    --darkreader-text-9ca3af: #afa99e;
    --darkreader-text-4b5563: #b1aaa0;
    --darkreader-background-f9fafb: #1b1d1e;
    --darkreader-background-111827: #0e131f;
    --darkreader-boder-111827 : #1f2937;
}

.header_wrappper {
    background-color:#030712;
    border-bottom: 1px solid var(--darkreader-boder-111827);
}

.header_division {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo>a {
    text-decoration: none;
    color: var(--darkreader-text-9ca3af);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: var(--darkreader-text-9ca3af);
}

.header_logo_text_division span:first-child {
    font-weight: bolder;
    color: #e8e6e3;
    padding: 0 !important;
    font-size: 21px;
}

.header_logo_text_division span:last-child {
    color: #47d7a3;
    font-size: 20px;
    font-weight: bolder;
    padding: 0 !important;
}

.header_nav>nav {
    display: flex;
    gap: 2rem;
}

.header_nav>nav>a {

    transition: all ease-in 200ms;
}

.header_nav>nav>a:hover {
    color: #d6d3cd;
}

.header_right_part {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme_togle>button {
    color: #afa99e;
}

.theme_togle>button:hover {
    color: var(--darkreader-text-f3f4f6);
    background-color: var(--darkreader-background-f9fafb);
}

.start_building_button {
    text-align: center;
}

.custom_offcanvas {
    background-color: var(--darkreader-background-030712) !important;
}